@value colors: '~styles/colors.module.css';
@value tipsColor, tipsHoverColor from colors;

.root {
  /* 弹性布局 */
  display: flex;

  /* 垂直方向居中 */
  align-items: center;
  color: tipsColor;
  margin-top: 5px;
}

.singer {
  font-size: 0.9em;
  cursor: pointer;

  &:hover {
    color: tipsHoverColor;
  }
}

.slash {
  margin: 0 5px;
}
