@value colors: '~styles/colors.module.css';
@value tipsColor, red from colors;

.root {
  position: relative;
  padding-top: 22%;
  margin-bottom: 20px;
}

.banners {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* 居中图片 */
.middle {
  transform: translate(-50%, 0) scale(1);
  z-index: 2;
}

/* 左图片 */
.left {
  transform: translate(-110%, 0) scale(0.8);
}

/* 右图片 */
.right {
  transform: translate(10%, 0) scale(0.8);
}

/* 隐藏 */
.hidden {
  /* translate(-50%, 0)：这是一个平移变换，将元素水平方向平移到其自身宽度的50%左侧。这通常用于将元素水平居中对齐。 */
  transform: translate(-50%, 0) scale(1);
  visibility: hidden;
}

.enabled {
  cursor: pointer;
}

.dots {
  display: flex;

  /* 绝对定位 */
  position: absolute;
  bottom: 10px;

  /* 水平方向居中 */
  left: 50%;
  transform: translate(-50%, 0);

  .dot {
    width: 7px;
    height: 7px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: tipsColor;
  }

  .active {
    background-color: red;
  }
}
